node_modules
.next
out
dist
*.tgz
*.tsbuildinfo

.env
.env.local
.env.development.local
.env.production.local

coverage
.cache
.eslintcache

.idea
.DS_Store

data/btshare.sqlite
data/btshare.sqlite-shm
data/btshare.sqlite-wal
data/uploads
data/avatars
data/site
data/torrent-images
data/offline
